@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-[#223152] overflow-x-hidden select-none font-sans
}

body {
    font-family: 'Raleway', sans-serif;
}

.control-dots .dot {
    background-color: rgb(204, 157, 2) !important;
    box-shadow: none !important;
    padding: 2px !important;
}

.container {
    @apply m-auto max-w-screen-lg p-6
}

.img {
    @apply w-96 h-auto object-contain
}

.kPadding {
    @apply px-8 md:px-16 lg:px-24
}

.kPaddingMedium {
    @apply px-8 md:px-16 lg:px-52 py-10 lg:py-28
}

.kPaddingLarge {
    @apply px-8 md:px-16 lg:px-52 2xl:px-72 py-12 lg:py-36
}

.btn-primary {
    @apply rounded-full text-lg outline-none py-5 bg-primary text-white hover:shadow-xl duration-150 hover:bg-blue-700 focus:outline-none
}

.btn-secondary {
    @apply rounded-full px-16 border-2 py-3 border-primary outline-none font-semibold focus:outline-none hover:bg-blue-50 duration-150
}

.btn-info {
    @apply rounded bg-primary text-white px-10 py-3 ripple-bg-primary font-bold text-sm 
}

.btn-quote {
    @apply rounded bg-primary text-white px-10 py-3 lg:py-4 ripple-bg-primary lg:font-bold text-xs lg:text-sm 
}

.btn-quote-info {
    @apply rounded bg-white border border-primary text-primary px-10 py-3 ripple-bg-primary hover:text-white font-bold text-sm duration-300
}

.btn-quote-sec {
    @apply rounded bg-primary text-white px-10 py-3 py-4 ripple-bg-primary font-semibold text-sm 
}

.btn-disabled {
    @apply rounded bg-gray-200 text-gray-800 px-10 py-3 text-white font-bold text-sm cursor-not-allowed
}

.menu-link {
    @apply hover:bg-blue-50 hover:text-primary font-semibold hover:rounded-3xl py-2 px-5 cursor-pointer duration-300
}

.form-control {
    @apply border rounded border-gray-300 w-full px-4 py-3 text-sm lg:text-lg text-gray-500 outline-none focus:border-primary duration-200
}

.col-span-fix {
    @apply col-span-2 md:col-span-1
}

.quick-link {
    @apply hover:text-yellow-500 duration-300 cursor-pointer
}